[Unit]
Description=Reminder bot

[Service]
Type=simple
User={{ user }}
WorkingDirectory={{ work_dir }}/current
Environment="PORT={{ port }}"
Environment="TOKEN={{ token }}"
ExecStart=./bin/{{ project_name }} foreground
Restart=on-abort

[Install]
WantedBy=multi-user.target
