{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    warnings_as_errors
]}.

{deps, [
    {jsx, "2.9.0"},
    {lager, "3.6.1"},
    {cowboy, "2.3.0"},
    {legendary_goggles, {git, "https://github.com/tank-bohr/legendary_goggles.git", {branch, master}}}
]}.

{eunit_compile_opts, [export_all]}.

% {eunit_opts, [verbose]}.

{relx, [
    {release,
        {reminder_bot, "0.0.1"},
        [reminder_bot]
    },
    {dev_mode, false},
    {include_erts, false},
    {include_src, false},
    {extended_start_script, true},
    {sys_config, "config/sys.config"}
]}.
