{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    warnings_as_errors
]}.

{deps, [
    {jsx, "2.9.0"},
    {lager, "3.6.1"},
    {legendary_goggles, {git, "https://github.com/tank-bohr/legendary_goggles.git", {branch, master}}}
]}.

{eunit_compile_opts, [export_all]}.

% {eunit_opts, [verbose]}.
