[Unit]
Description=Reminder bot

[Service]
Type=simple
User={{ user }}
WorkingDirectory={{ releases_dir }}/current
Environment="PORT={{ port }}"
Environment="TOKEN={{ token }}"
Environment="RELX_REPLACE_OS_VARS=true"
ExecStart={{ releases_dir }}/current/bin/{{ project_name }} foreground
Restart=on-abort

[Install]
WantedBy=multi-user.target
