upstream backend {
    server localhost:{{port}};
}

server {
    listen       443 ssl;
    server_name  {{server_name}};

    location /{{webhook_location}} {
        rewrite /{{webhook_location}} /webhook break;
        proxy_pass       http://backend;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $remote_addr;
    }

    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
