[
    {sasl, [
        {errlog_type, error}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, [{level, debug}]}
        ]},
        {crash_log, false},
        {colored, true}
    ]},

    {reminder_bot, [
        {token, "123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11"},
        {port, 8080}
    ]}
].
