[
    {sasl, [
        {errlog_type, error}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, [{level, "${LOG_LEVEL}"}]}
        ]},
        {crash_log, false},
        {colored, false}
    ]},

    {reminder_bot, [
        {token, "${TOKEN}"},
        {port, "${PORT}"}
    ]}
].
